<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label class="ion-text-center">
        <h2>Login</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password"></ion-input>
    </ion-item>
    <small>{{message}}</small>
  </ion-list>
  <ion-button expand="block" (click)="login()">Submit</ion-button>
</ion-content>