<ion-content>
  <div class="walkthrough-main">
    <div class="walkthrough-top">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="primary">
            <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
    <div class="walkthrough-bottom">
      <ion-slides pager="true">
        <ion-slide>
          <div class="walkthrough-card">
            <div class="walkthrough-image">
              <img src="../../assets/images/computer.png" alt="">
            </div>
            <div class="walkthrough-desc ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">Fast</h4>
              <p class="ion-no-margin">Lorem ipsum dolor emet.</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="walkthrough-card">
            <div class="walkthrough-image">
              <img src="../../assets/images/chat.png" alt="">
            </div>
            <div class="walkthrough-desc ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">Fast</h4>
              <p class="ion-no-margin">Lorem ipsum dolor emet.</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="walkthrough-card">
            <div class="walkthrough-image">
              <img src="../../assets/images/internet.png" alt="">
            </div>
            <div class="walkthrough-desc ion-text-center">
              <h4 class="ion-text-capitalize ion-no-margin">Fast</h4>
              <p class="ion-no-margin">Lorem ipsum dolor emet.</p>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>